    /* Remove the navbar's default rounded borders and increase the bottom margin */ 

     .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
.jumbotron{
    background-color: #333300!important;
    color:#fff!important;
}
.navbar{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}
/*.body
{
   background: url(images/woods.jpg)!important;
}*/
.mainpage{
    text-align: center;
}
.panel-heading{
    background-color: #1a1a00!important;
    color:white!important;    
}
.panel{
    border:1px solid black!important;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th{
    border: none;
}

.fixed {
    position: fixed !important;
    top: 20px;
    margin-left: 780px;
    /*     background-color: #0f0 !important; */
}

.rmv item {
    text-decoration: none;
    padding: 2px 6px;
}

.basketitem {
    display: inline-block;
    padding: 2px 6px;
    text-align: justify;
    vertical-align: middle;
    width: 100%
}

#send {
    display: inline-block;
    background-color: #ff9f80;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #ff9f80;
    border-radius: 5px;
}


.basketitem2 {
    /*   display: inline-block;*/
    border-bottom: 1px solid lightgrey;
    padding: 2px 6px;
    text-align: justify;
    vertical-align: middle;
}

.hoverable:hover {
    background-color: #E8E8E8;
}

#shopping-cart {
    border: 2px solid grey;
    border-radius: 5px;
    width: 380px;
    position: relative;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px blue;
    max-width: 100%;
    max-height: 80%;
    overflow: auto;
}

.offers {
    border: 2px solid grey;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

#mycart {
    margin: 0 auto;
}

.basketprice {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding: 2px 6px;
    background-color: #e6f3ff;
}

#basketicon {
    display: inline-block;
    padding: 2px 6px;
    text-align: center;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 20px;
    color: dimgrey;
}

#baskettop {
    border-bottom: 1px solid grey;
    margin-top: 10px;
}

.categories:hover {
    width: auto;
    background-color: #E8E8E8;
}