    /* Remove the navbar's default rounded borders and increase the bottom margin */ 

     .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
.jumbotron{
    background-color: #333300!important;
    color:#fff!important;
}
.navbar{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}
/*.body
{
   background: url(images/woods.jpg)!important;
}*/
.mainpage{
    text-align: center;
}
.panel-heading{
    background-color: #1a1a00!important;
    color:white!important;    
}
.panel{
    border:1px solid black!important;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th{
    border: none;
}
