
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<br /><br /><br /><br />


<h1>Καλωσορίσατε. Παρακαλώ διαλέξτε από το μενού τι θέλετε να κάνετε</h1>
<br/>
<div class="row">
    <div class="col-sm-4">
        <div class="btn-group-vertical">
            <div class="btn-group">
                <a tabindex="-1" href="~/Admin/CouponCreation" class="btn btn-default">
                    Δημιουργήστε ένα κουπόνι
                </a>
            </div>
            <div class="btn-group">
                <a tabindex="-1" href="~/Admin/MyCustomers" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Οι Πελάτες μας
                </a>
            </div>
            <div class="btn-group">
                <a tabindex="-1" href="~/Admin/Coupons" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Διαθέσιμα κουπόνια
                </a>
            </div>
            <div class="btn-group">
                <a tabindex="-1" href="~/Admin/NewsLetter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Εγγεγραμμένοι στο Newsletter
                </a>
            </div>
        </div>
    </div>
</div>