@model Ebakery.Models.Product


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order"> <img src="~/Content/WWW/images/bread.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">

            <br />
            Καθημερινά  στο εργαστήριο μας, ζυμώνουμε το ψωμί στο χέρι, με τον παραδοσιακό τρόπο. Τα “διπλώματα” που δημιουργούμε κατά το ζύμωμα
            είναι υπεύθυνα για την καλύτερη ωρίμανση του ψωμιού, την σωστή διόγκωση και την δημιουργία τραγανής κρούστας και αφράτης ψίχας.
            Το χειροποίητο ψωμί μας έχει σαν βάση το αλεύρι, νερό, αλάτι και υγρό προζύμι που το φτιάχνουμε μόνοι μας. Όταν προσθέσουμε στην
            παραδοσιακή μας συνταγή και άλλα εκλεκτά υλικά, όπως αλεύρι ολικής αλέσεως, θυμάρι, σπόρους ή όταν συμπληρωθεί με άλλες ποικιλίες αλευριού,
            τότε είμαστε σε θέση να προσφέρουμε μια ποικιλία που μπορεί να ικανοποιήσει και την πιο απαιτητική γεύση, αλλά και να προσφέρει
            και την πιο θρεπτική λύση σε σχέση με τα υπόλοιπα ψωμιά.

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order"> <img src="~/Content/WWW/images/bakery3.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">
            
            <br />Όλα μας τα σφολιατοειδή παρασκευάζονται καθημερινά στο εργαστήριό μας με αφράτο χωριάτικο ζυμάρι και με τα καλύτερα υλικά της αγοράς,
            καθώς για την προμήθεια των πρώτων υλών μας επιλέγουμε πάντα προμηθευτές με τα πιο αυστηρά κριτήρια και κανόνες υγιεινής στην παραγωγική
            τους διαδικασία. Μία μεγάλη ποικιλία από πίτες (τυρόπιτες, σπανακόπιτες, ζαμπονοτυρόπιτες, πεϊνιρλί, κλπ) ψήνονται κάθε πρωί στο κατάστημά
            μας και πωλούνται πάντα ζεστά και φρεσκότατα, καθώς αν δεν καταναλωθούν μέχρι το τέλος της ημέρας δίδονται (όπως και όλα τα υπόλοιπα προϊόντα
            μας) σε ιδρύματα και εκκλησίες των περιοχών μας.

        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order"> <img src="~/Content/WWW/images/sandwich.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">
            <br />Εκτός από ζεστά ζυμωτά και σφολιατοειδή, στο κατάστημά μας διατίθενται και άλλες επιλογές από κρύα σνακ. Κάθε πρωί στο εργαστήριό μας,
            με τα ίδια αυστηρά κριτήρια, παρασκευάζουμε διάφορα σάντουιτς με τραγανή μπαγκέτα ή με αραβική πίτα, μόνο με αγνά υλικά και με πολύ μεράκι.
            Έτσι, οι πελάτες μας έχουν περισσότερες και γευστικότερες επιλογές για το καθημερινό τους γεύμα.


        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order"> <img src="~/Content/WWW/images/sweets.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">
            <br />Όλα τα γλυκά που διατίθενται από το κατάστημά μας παρασκευάζονται σε υπερσύγχρονα εργαστήρια, από αγνά υλικά, με σεβασμό στην παράδοση των
            ζαχαροπλαστείων που συνεργαζόμαστε. Έτσι, έχουμε την δυνατότητα να προσφέρουμε καθημερινά στους πελάτες μας φρεσκότατες γλυκές επιλογές σαν
            συνοδεία για τον καφέ ή σαν ένα λαχταριστό επιδόρπιο μετά το καθημερινό τους γεύμα.

        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order">  <img src="~/Content/WWW/images/coffees.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">
            <br />Είτε πρόκειται για τον πρώτο καφέ της ημέρας, είτε πρόκειται για ένα μεσημεριανό καφεδάκι μετά το φαγητό,
            αλλά και για οποιαδήποτε άλλη στιγμή της ημέρας, εμείς είμαστε εδώ για να σας προσφέρουμε την καλύτερη
            εμπειρία σε καφέ με χαρμάνια από τις καλύτερες μάρκες της αγοράς. Επίσης, με ποικιλία τόσο σε ζεστά, όσο και
            σε κρύα ροφήματα, σε εμάς πάντα θα βρείτε τις καλύτερες τιμές σε συνδυασμό με την καλύτερη γεύση.

        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/Order">  <img src="~/Content/WWW/images/juice.jpg" alt="image" class="img-responsive" style="width:100%"></a>
</div>
        <div class="col-sm-8">
            <br />Τα φρούτα είναι πλούσια σε βιταμίνες, μέταλλα και ιχνοστοιχεία, ενώ οι χυμοί τους καταναλώνονται επειδή ωφελούν την ανθρώπινη υγεία, συνεισφέρουν
            στην ημερήσια πρόσληψη υγρών και στη σωστή ενυδάτωση του ανθρώπου. Στο κατάστημά μας μπορείτε να βρείτε επιλογές χυμών από διάφορα φρούτα, καθώς
            ανανεώνουμε διαρκώς τον κατάλογό μας, αναλόγως με την διαθεσιμότητά τους λόγω εποχής. Ενώ φυσικά υπάρχει ποικιλία και σε συσκευασμένους χυμούς και
            αναψυκτικά.
        </div>
    </div><br>
</div><br>

<br><br>


<br>

