@model Ebakery.Models.NewsletterTrue
@{
    ViewBag.Title = "RegisterNewsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<br><br><br><br>
<h1>Έχετε κάνει ήδη την εγγραφή σας στο Newsletter μας!!!</h1>
<br><br><br><br>
